{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<p class="px-3"> Lire la suite : <a class="text-secondary text-decoration-none" href="{{ path('app_foo_index') }}">Les foos</a></p>

{% endblock %}
